@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --total-scale-factor: 1.5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* PDF highlighting styles */
.textLayer span[role="presentation"].segment-span {
  transition: background-color 0.15s ease;
  cursor: pointer;
}

.textLayer span[role="presentation"].segment-span.hovered {
  background-color: rgba(0, 0, 0, 0.12);
}

.textLayer span[role="presentation"].playing {
  background-color: rgba(255, 255, 0, 0.4) !important;
}